*{
    margin: 0px;
    padding: 0px;
}
header, section, footer, aside, nav, article, hgroup{
    display:block;
}

body{
   width:100%;
    display:-webkit-box;
    -webkit-box-pack: center;
    
   
}

h1{
    
    font-family: 'Barrio', cursive;
    color: #890056
}

h2{
    
    font-family: 'Noto Sans', sans-serif;
    
}

#big_wrapper{
    max-width: 1000px;
    margin: 20px 0px;
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;

}

#top_header{
    background: #6666ff;
    border: 1px solid black;
    padding: 10px; 
}

#top_header h1{
    font-family: 'Pangolin' 20px, cursive;
    color: #ffffff;
}

#top_header h2{
    font-family: 'Pangolin' 14px, cursive;
    color: #ff2
}

#top_menu{
    background: #ff2;
    color: #691200;
}

#top_menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font-family: 'Pangolin' 14px, cursive;
}

#main_section{
    border: 1px solid #890056;
    -webkit-box-flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 20px;
    background: #ff0099
}

#aside_news{
    border: 1px solid #890056;
    width: 200px;
    margin: 20px 0px;
    padding: 30px;
    background: #ff2
}
#aside_news p:first-child{
    font-family: 'Pangolin' 14px, cursive;
    color: #890056;
}

#footer{
    text-align: center;
    padding: 20px;
    border-top: 2px solid #890056 
}

article{
    background: #ffcccc;
    border: 1px solid #890056;
    padding: 20px;
    margin-bottom: 15px; 
}

article footer{
    text-align: right;
}

#new_div{
     display:-webkit-box;
    -webkit-box-orient: horisontal;
}

#picture1{
    
    width: 50%;
    height: auto;
}